# Global
.*.swp
.DS_Store

# Application
lemp-stack/web/app/composer.json
lemp-stack/web/app/vendor/
lemp-stack/web/app/composer.lock
lemp-stack/web/app/doc/*

# PHPStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

# Code
lemp-stack/db/dump/*
lemp-stack/web/public/*

# db
lemp-stack/db/data/mysql/*